@model wep_ban_hang.Areas.Admin.Models.banner
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="about_section">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="detail-box pr-md-3">
                    <div class="heading_container">
                        <h2>
                            @Html.DisplayFor(model => model.tenquangcao)
                        </h2>
                    </div>
                    <p>
                        @Html.DisplayFor(model => model.mota)
                    </p>
                    
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="img-box">
                    
                    <img src="~/img/quangcao/@Html.DisplayFor(model => model.hinhanh)" alt="">
                </div>
            </div>
        </div>
    </div>
</section>