
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - PSHOP</title>
    <!-- plugins:css -->
    @await Html.PartialAsync("_CSSPartialView")
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="../../index.html">
                    <img src="~/assets/images/logo1.svg" alt="logo" />

                </a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="~/assets/images/logo_Mini1.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/assets/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">Ninh Phúc</h5>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Cài đặt tài khoản</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Thay đổi mật khẩu</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Những việc cần làm</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">PSHOP</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="hoadons" asp-action="statistic">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Trang chủ</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="sanphams" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-tshirt-crew"></i>
                        </span>
                        <span class="menu-title">Sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="ctsanphams" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-layers"></i>
                        </span>
                        <span class="menu-title">Loại sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="taikhoans" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-account-alert-outline"></i>
                        </span>
                        <span class="menu-title">Tài khoản</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="hoadons" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-clipboard-text"></i>
                        </span>
                        <span class="menu-title">Hoá đơn</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="cthoadons" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-book-open-variant"></i>
                        </span>
                        <span class="menu-title">Chi tiết hoá đơn</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="nhasanxuats" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-table-large"></i>
                        </span>
                        <span class="menu-title">Nhà sản xuất</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="giohangs" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-cart"></i>
                        </span>
                        <span class="menu-title">Giỏ hàng</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-controller="banners" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-cart"></i>
                        </span>
                        <span class="menu-title">Quảng cáo</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            @await Html.PartialAsync("_NavPartialView")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="w-auto">@RenderBody()</div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @await Html.PartialAsync("_JSPartialView")
    <!-- End custom js for this page -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
