@model wep_ban_hang.Areas.Admin.Models.cthoadon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title ">Create</h4>
            <p class="card-description"> Create accounts </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="hoadonid" class="control-label"></label>
                    <select asp-for="hoadonid" class="form-control" asp-items="ViewBag.hoadonid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="sanphamid" class="control-label"></label>
                    <select asp-for="sanphamid" class="form-control" asp-items="ViewBag.sanphamid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="soluong" class="control-label"></label>
                    <input asp-for="soluong" class="form-control" />
                    <span asp-validation-for="soluong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="gia" class="control-label"></label>
                    <input asp-for="gia" class="form-control" />
                    <span asp-validation-for="gia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary mr-2">Create</button>
                    <button class="btn btn-dark" asp-action="Index">Cancel</button>
                </div>
                <div>@(ViewBag.SizeError!=null? ViewBag.SizeError:"")</div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
