@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1 class="text-center">Cách tạo Collapsible Panel</h1>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        
                        <img src="~/images/client.jpg"  class="img-responsive" alt="Thông tin cá nhân">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">                     Trần Ninh Phúc                 </div>
                        <div class="profile-usertitle-job">                      Người mua hàng                   </div>
                    </div>
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm" src="~/home/index">Trang chủ</button>
                        <button type="button" class="btn btn-danger btn-sm">Thoát ra</button>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <div class="logo_menuchinh" style="float:left; padding-top:5px; padding-left:10px; color:#fff; margin-left:auto; margin-right:auto; text-align=center; line-height:40px; font-size:16px;font-weight:bold;font-family:Arial">HOCWEBGIARE.COM</div>
                            <div class="menu-icon"><span>Menu</span></div>
                            <li class="active">
                                <a href="~/product/editAccount">                         <i class="glyphicon glyphicon-info-sign"></i>                           Cập nhật thông tin cá nhân </a>
                            </li>
                            <li>
                                <a href="~/product/cart">                         <i class="glyphicon glyphicon-heart"></i>                           Sản phẩm yêu thích </a>
                            </li>
                            <li>
                                <a href="https://hocwebgiare.com/" target="_blank">                         <i class="glyphicon glyphicon-shopping-cart"></i>                           Quản lý đơn hàng </a>
                            </li>
                            <li>
                                <a href="https://hocwebgiare.com/">                         <i class="glyphicon glyphicon-envelope"></i>                            Tin nhắn </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">             Chào mừng Bạn đến với website  </div>
            </div>
        </div>
    </div>
</div>